<div id="user-input">
<div id="chatBox">Food Finder: Hello!<br/></div>
<%= form_tag(parse_query_url, method: "post", remote: true) do %>
  <%= hidden_field_tag :latitude, "" %>
  <%= hidden_field_tag :longitude, "" %>
  <%= hidden_field_tag :radius, "" %>
  <%= hidden_field_tag :categories, "" %>
  <%= text_field_tag :query, '', id: "input-box"%>
  <%= submit_tag "Submit"%>
<% end %>
</div>

<div id="map-container">
  <div id="map-canvas" style="height: 100%;">
  </div>
</div>


<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByVkwWVJFsocv7FpCsCkdoY7K3z6yibw8&sensor=true">
</script>
<script type="text/javascript">
  var map;
  var Latitude;
  var Longitude;
  var markers = new Array();
  var chatBox;
  var submitButton;
  var messageInput;
  
function initialize() {
  var mapOptions = {
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
	    Latitude=position.coords.latitude;
	    Longitude=position.coords.longitude;
	    $("form input[name='latitude']").val(Latitude);
	    $("form input[name='longitude']").val(Longitude);
        var pos = new google.maps.LatLng(Latitude,Longitude);

		var marker = new google.maps.Marker({
			position: pos,
			map: map,
			icon: 'http://i998.photobucket.com/albums/af101/summer2028/happy_face_zpse1da03a3.png'
		});
		var currentPosInfo = new google.maps.InfoWindow({
			content: 'You are here!'
		});
		currentPosInfo.open(map,marker);
		google.maps.event.addListener(marker, 'click', function() {
			currentPosInfo.open(map,marker);
		});

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
  
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Please allow your browser to share your location. Or let me tell you, Chinese food is the best. Go to Beijing!';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var noGeoMarker = new google.maps.Marker({
	map: map,
	position: new google.maps.LatLng(39.9, 116.385),
	icon: 'http://i998.photobucket.com/albums/af101/summer2028/beijing-face_zps08ba53fc.png'
  });
  
  var errorInfo = new google.maps.InfoWindow({
	content: content
  });
  errorInfo.open(map,noGeoMarker);
  google.maps.event.addListener(noGeoMarker, 'click', function() {
	  errorInfo.open(map,noGeoMarker);
  });
  map.setCenter(new google.maps.LatLng(39.9, 116.4));
  map.setZoom(12);
  $( "input" ).prop( "disabled", true );
}


$( function() {
  $("form").submit(function() {
	if ($("#input-box").val() != "") {
        // Send the message to all users.
		$("#chatBox").html($("#chatBox").html() + "<br />"); 
        //chatBox.scrollTop = chatBox.scrollHeight;
		$("#chatBox").html($("#chatBox").html() + "<div class='user'>User: " + $("#input-box").val()+"</div>");
    }
  });
  
});

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
